body{
    background-color: gray;
}
.firstcontainer{
    width: 10%;
    height: 300px;
    background-color:rgba(85, 216, 100, 0.399);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius:50px;
    border: 2px solid black;
}
.threecontainers{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 200px;
}
.containers{
    text-align: center;
}
.balls span{
    background-color: red;
    padding: 15px;
    border-radius: 70px;
    border: 2px solid black;
    display: inline-block;
}
.totalballs{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    
}
